[Unit]
Description=delayed hibernation trigger
Before=suspend.target
RefuseManualStart=true
PartOf=suspend.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=suspend-to-hibernate suspend
ExecStop=suspend-to-hibernate resume

[Install]
RequiredBy=suspend.target
